{% extends 'recommend/base.html'%}
{% block title %}{{locations.title}}{% endblock %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success">
              <strong>Success!</strong> {{message}}
            </div>
        {% endfor %}
    </ul>
{% endif %}

<div class="container-fluid col-sm-offset-1">

    <div class="row">
        <!-- Left Movie Info -->
        
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-body" style="border-radius: 22px 22px 22px 22px;">-->
                    <h1 style="color:#fff;margin-left: 20px;">{{locations.title}}</h1>
                    <a href="#">
                        <img src="{{ locations.location_logo.url}}"  style="border-radius: 22px 22px 22px 22px;height: 600px;width: 1000px;">
                    </a>
                    <h2></h2>
<!--                </div>-->
<!--            </div>-->
        
        <!-- Right Location Info -->
        
            
            <h3><small>description: {{locations.description}}</small></h3>

                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' locations.id %}" onsubmit="return validateForm()"  name="ratingForm">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        <span>Rate Location</span>
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        
                                        {% if rate_flag %}
                                            <input type="hidden" name="rating" class="rating-value" value="{{movie_rating}}" >
                                        {% else %}
                                            <input type="hidden" name="rating" class="rating-value" value="0">
                                        {% endif %}
                                        {% csrf_token %}
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                </form>

                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' locations.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        <span>Add to my list  </span>
                                        {% if update %}
                                        <input type="checkbox" name="watch" checked>
                                        <input type="submit" class="button" value="Remove" name="watch">
                                        {% else %}
                                        <input type="checkbox" name="watch">
                                        <input type="submit" class="button" value="Add">

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
<!--                            <input type="submit" class="button" value="Add">-->
                        </div>
                    </div>
                </form>

            
       
    </div>
</div>

{% endblock %}