{% extends 'recommend/base.html'%}
{% block title %}{{locations.title}}{% endblock %}

{% block body %}
<div class="container" style="margin: 0 auto;">
<div class="star-rating">
    <span class="fa fa-star-o" data-rating="1"></span>
    <span class="fa fa-star-o" data-rating="2"></span>
    <span class="fa fa-star-o" data-rating="3"></span>
    <span class="fa fa-star-o" data-rating="4"></span>
    <span class="fa fa-star-o" data-rating="5"></span>
    <input type="text" name="rating" class="rating-value" value="0">
</div>
<div class="star-rating2">
    <span class="fa fa-star-o" data-rating2="1"></span>
    <span class="fa fa-star-o" data-rating2="2"></span>
    <span class="fa fa-star-o" data-rating2="3"></span>
    <span class="fa fa-star-o" data-rating2="4"></span>
    <span class="fa fa-star-o" data-rating2="5"></span>
    <input type="text" name="rating2" class="rating-value2" value="0">
</div>
</div>
{% endblock %}

